.header {
    height: 687px;
    background-image: url(../../images/photos/bg_header_line.png);
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}
  
.logo-link {
    text-decoration: none;
  
    @media (min-width: 768px) {
      margin-right: 12%;
      order: -1;
    }
    @media (min-width: 1280px) {
      margin-right: 22%;
    }
    @media (min-width: 1680px) {
      margin-right: 24%;
    }
}
  
.logo-link__wrap {
    align-self: flex-start;
}
  
.fire-wrap {
    display: flex;
    justify-content: center;
}

.fire-wrap__text {
    font-size: 15px;
    font-family: $main-font;
    color: rgb(0, 0, 0);
    font-weight: $main-font-weight;
    line-height: 1.333;
    letter-spacing: 1px;
  
    @media (min-width: 768px) {
      font-size: 25px;
    }
    @media (min-width: 1280px) {
      font-size: 25px;
    }
}
  
.logo-link__description {
    display: flex;
    justify-content: space-between;
    font-size: 5.3px;
    font-family: $main-font;
    color: rgb(0, 0, 0);
    font-weight: $main-font-weight;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.7px;
  
    @media (min-width: 768px) {
      font-size: 8.75px;
    }
    @media (min-width: 1280px) {
    }
  
    &--accent {
      color: $second-color;
    }
}
  
.fire-wrap__fire {
    position: relative;
    // top: -4px;
    width: 18px;
    height: 20px;
    fill: $second-color;

    &--svg {
        width: 18px;
        height: 20px;
    }


    @media (min-width: 768px) {
      width: 21px;
      height: 30px;

    }
    
}
  


// BURGER-MENU
.navigation-btn-burger {
    width: 24px;
    height: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;

}

.navigation-btn-burger div {
    width: 24px;
    height: 2px;
    background-color: $first-color;
    margin: 1px 0;
}

  
.navigation-menu {
    display: flex;
    justify-content: space-between;
    flex-basis: 612x;
  
    &__item:not(:last-of-type) {
      margin-right: 45px;
    }
  
    &__item-link {
      font-family: $secondary-font;
      font-size: 12px;
      font-weight: 700;
      line-height: 68px;
      letter-spacing: 1.2px;
      color: $third-color;
      text-transform: uppercase;
  
      &:hover {
        color: $second-color;
      }
    }
}

@media (max-width: 767px) {
    .consultation {
        display: none;
    }
}

@media (max-width: 1279px) {
    .navigation-menu {
        display: none;
    }
}

// ABOUT
.container--header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-title {
    font-size: 20px;
    line-height: 29px;
    color: $first-color;
     
    &--br {
    display: block;

        &-notmobile {
            display: inline-block;
        }
    }

    &--indent {
        padding-bottom: 24px;
        padding-top: 58px;
    }
}

.header-wrapper {
    font-family: $main-font;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;

    &__not_easy {
       color: $third-color;
    }

    &__description {
        color: $first-color;

        &--color_point {
            color: $second-color;
        }
    }
}

.lesson--indent {
    margin: 36px 0;
}

.team-image {
    display: flex;
    justify-content: center;
}

.our-priority {
    font-family: $main-font;
    font-size: 13px;
    font-weight: bold;

    &__item {
        width: 205px;
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item-wrapper {
        position: relative;
        width: 54px;
        height: 54px;
        border: 2px solid rgb(255, 107, 8);

        &::before {
            content: '';
            position: absolute;
            right: -2px;
            height: 36px;
            width: 2px;
            background: rgb(255, 255, 255);
            margin-top: 11px;        
        }

        &--svg {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            &_female_student {
                height: 32px;
                width: 30px;
                fill: rgb(255, 107, 8);
            }

            &_mobile_learning {
                height: 34px;
                width: 34px;
                fill: rgb(255, 107, 8);
            }

            &_insurance {
                height: 36px;
                width: 30px;
                fill: rgb(255, 107, 8);
            }
        }

    }

    &__description {
        display: flex;
        align-items: center;
        font-family: $main-font;
        font-size: 13px;
        font-weight: bold;
        width: 130px;
    }

    &--indent {
        padding-bottom: 50px;
        padding-top: 88px;
    }

}

// TABLET
@media (min-width: 768px) {
    .container--navigation {
        display: flex;
        justify-content: space-between;
        padding-top: 38px;

    }

    .navigation {
        padding-top: 0;
    }

    .section-about {
        display: flex;
        justify-content: space-between;
    }

    .section-title--indent {
        padding-top: 15px;
    }

    .section-about {
        padding-top: 60px;
    }

    .section-title--br-notmobile {
        display: block;
    }

    .our-priority {
        display: flex;
        justify-content: space-between;

        &__item {
            margin-bottom: 25px;
        }

        &__item-wrapper {
            margin-right: 18px;
        }
    }
}