@media (min-width: 320px) {
  .container {
    width: 280px;
    margin: 0 auto;
  }
  .description {
    position: absolute;
    top: 0;
    right: 20px;
    width: 280px;
    margin: 0 auto;
  }
  .main-problem__header {
    height: 516px;
    background-color: $background-color;
    position: relative;
    z-index: -1;
  }
  .description__slogan {
    font-family: $main-font;
    font-size: 20px;
    font-weight: $secondary-font-weight;
    color: $primary-text-color;
    padding-top: 56px;
    padding-bottom: 22px;
  }
  .slogan-wrap {
    color: $second-color;
  }
  .description__list {
    padding-top: 22px;
    padding-bottom: 34px;
    padding-left: 28px;
    box-shadow: 3px 5px 13px 0px rgba(0, 0, 0, 0.13);
    background-color: $primary-text-color;
    list-style: none;

    &-txt {
      font-family: $main-font;
      font-weight: $main-font-weight;
      line-height: 20px;
      letter-spacing: 1px;
      font-size: 13px;
      color: $first-color;
    }
    &-tabs {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 29px;
      color: $second-color;
      font-family: $main-font;
      font-weight: 500;
      margin-left: 35px;
      margin-bottom: 5px;
      position: relative;

      &::before {
        display: block;
        content: '';
        width: 25px;
        height: 2px;
        background-color: $second-color;
        position: absolute;
        top: 13px;
        left: -34px;
      }
    }
  }
  .description__list-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .specification {
    margin-top: 260px;
  }

  .specification__slogan {
    font-family: $main-font;
    font-weight: $secondary-font-weight;
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
    letter-spacing: 1px;
  }
  .specification__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 53px;

    &-subtitle {
      font-family: $main-font;
      font-weight: $main-font-weight;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 1px;
      color: $first-color;
      margin: 0 26px 0 26px;
    }

    &-text {
      font-size: 11px;
      line-height: 20px;
      color: $third-text-color;
      font-family: $main-font;
      font-weight: $third-font-weight;
      text-align: center;
      padding-top: 40px;
      letter-spacing: 1px;
      position: relative;
      margin: 0 26px 0 26px;
      width: 246px;

      &::after {
        display: block;
        content: '';
        width: 25px;
        height: 2px;
        background-color: $second-color;
        position: absolute;
        left: 106px;
        top: 22px;
      }
    }
  }

  .specification__list-item {
    box-shadow: 3px 5px 13px 0px rgba(0, 0, 0, 0.13);
    list-style: none;
    position: relative;
    padding-top: 78px;
    padding-bottom: 29px;
    position: relative;
  }
  .specification__list-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .specification__list-icon-svg {
    width: 50px;
    height: 50px;
    fill: $second-color;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -100%);
  }

  .overlay-main-problem {
    width: 280px;
    height: 100%;
    background-color: $second-color;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    z-index: -1;
  }
  .specification__list-item:hover .overlay-main-problem {
    visibility: visible;
    opacity: 1;
    transition-duration: 0.2s;
  }
  .specification__list-item:hover .specification__list-subtitle {
    color: #fff;
  }
  .specification__list-item:hover .specification__list-text {
    color: #fff;
  }
  .specification__list-item:hover .specification__list-icon-svg {
    fill: #fff;
  }
  .specification__list-item:hover .specification__list-text::after {
    background-color: white;
  }
}
@media (min-width: 768px) {
  .description {
    width: 690px;
    margin: 0 auto;
  }
  .main-problem__header {
    height: 333px;
    background-image: url(../images/tablet/fire.png);
    background-repeat: no-repeat;
    background-position: right;
  }
  .description__slogan {
    width: 450px;
    font-size: 26px;
    line-height: 33px;
    padding-top: 40px;
  }
  .description__list {
    padding-top: 37px;
    padding-bottom: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .container {
    width: 690px;
    margin: 0 auto;
  }
  .description__list-item {
    width: 230px;
  }
  .specification {
    margin-top: 240px;
  }
  .specification__slogan {
    font-size: 26px;
    line-height: 33px;
  }
  .specification__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .specification__list-item {
    width: 290px;
    height: 267px;
  }
}
// .specification__list-icon-study {
//   width: 42px;
//   height: 45px;
// }
// .specification__list-icon-mobile,
// .specification__list-icon-open-communication {
//   width: 44px;
//   height: 45px;
// }
// .specification__list-icon-open-book {
//   width: 50px;
//   height: 36px;
// }
// .specification__list-icon-student {
//   width: 39px;
//   height: 45px;
// }
// .specification__list-icon-audio {
//   width: 50px;
//   height: 43px;
// }
